$recrue-width: 96px;
$recrue-height: 102px;

nav {
  width: 208px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2px 3px;
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    box-sizing: border-box;
    width: 46%;
    height: 46%;
    margin: 2%;
    padding: 3px;
    background: #eee;
    &.drag-over {
      outline: 1px dashed purple;
    }
  }
  li {
    flex: 1;
    margin-bottom: 1px;
    display: block;
    width: 100%;
  }
  li.hovered {
    border: 1px dashed gray;
  }
  li:last-of-type {
    margin-bottom: 0;
  }
}